# Ignore node_modules folder
node_modules

# Ignore pnpm-store (if using pnpm)
.pnpm-store
Dockerfile

.github
.vscode
.nuxt

# Ignore any build artifacts (adjust based on your build output)
# public/

# Ignore test files
*.test.js
*.spec.js

# Ignore environment specific files
# .env*